*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-player{
    background: #2a2141;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
}

.controles{
    
    display: flex;
    justify-content: center;
    
}

.container-progresso{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tempo-musica{
    display: flex;
    justify-content: space-around;
}

.conteudo-musica p{
    font-size: 2.4rem;
}



